            <!--=================================
         Footer -->
      <footer>
         <img class="img-fluid footer-before" src="images/footer-before.png" alt="image">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-3 col-md-4 col-sm-12 re-center">
                  <a href="index.html"><img alt="#" src="images/limechat-logo.png" style="height: 50px; width: auto;"></a>
               </div>
               <div class="col-lg-6 col-md-4 col-sm-12 text-uppercase">

                  <div class="row">
                     <ul class="copyright col-sm-6">
                        <li class="d-inline ml-4 mr-4"><a href="index.html">Home</a></li><br>
                        <li class="d-inline ml-4 mr-4"><a href="about-us.html">About Us</a></li><br>
                        <li class="d-inline ml-4 mr-4"><a href="technology.html">Technology</a></li><br>
                        <li class="d-inline ml-4 mr-4"><a href="https://blog.limechat.ai">Blog</a></li><br>
                     </ul>
                     <ul class="copyright col-sm-6">
                        <li class="d-inline ml-4 mr-4"><a href="sales.html">Sales</a></li><br>
                        <li class="d-inline ml-4 mr-4"><a href="support.html">Customer Support</a></li><br>
                        <li class="d-inline ml-4 mr-4"><a href="faq.html">FAQs</a></li><br>
                        <li class="d-inline ml-4 mr-4"><a href="contact-us.php">Contact Us</a></li><br>
                     </ul>
                  </div>

               </div>
               <div class="col-lg-3 col-md-4 col-sm-12 text-right r-mt3">
                  <ul class="media-box">
                     <li><a href="https://twitter.com/LimeChatAI"><i class="fab fa-twitter"></i></a></li>
                     <li><a href="https://www.linkedin.com/company/limechat/"><i class="fab fa-linkedin"></i></a></li>
                     <li><a href="https://www.facebook.com/limechat"><i class="fab fa-facebook-f"></i></a></li>
                     <li><a href="https://www.youtube.com/channel/UCQcBFZLBqP252UIO0KpsSBg"><i class="fab fa-youtube"></i></a></li>
                  </ul>
               </div>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <div class="col-sm-12 text-center text-bold" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
                  <span>An Artificial Intelligence Company </span><span> @ CopyRight 2020, Limechat</span>
               </div>
               <div class="col-sm-12 text-center" style="display: flex; align-items: center; justify-content: center;">
                  <a href="privacy-policy.html">Privacy Policy</a>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="terms-of-service.html">Terms of Service</a>
               </div>
               
            </div>
         </div>
         <!-- back-to-top -->
         <!-- <div id="back-to-top">
            <a class="top" id="top" href="#top"><i class="ion-ios-arrow-thin-up"></i></a>
         </div> -->
         <!-- back-to-top End -->
      </footer>
      <!--=================================
         Footer -->     
      <!--=================================
         Chatbot -->     
      <!-- <div id="body">
         <div id="chat-circle" class="btn btn-raised">
            <i class="ion-chatbubble-working"></i>
         </div>
         <div class="chat-box">
            <div class="chat-box-header">
               <h5 class="title">ChatBot</h5>
               <span class="chat-box-toggle"><i class="ion-close-round"></i></span>
            </div>
            <div class="chat-box-body">
               <div class="chat-box-overlay">   
               </div>
               <div class="chat-logs">
               </div>
            </div>
            <div class="chat-input">
               <form>
                  <input type="text" id="chat-input" placeholder="Send a message..."/>
                  <button type="submit" class="chat-submit" id="chat-submit"><i class="ion-ios-paperplane"></i></button>
               </form>
            </div>
         </div>
      </div> -->
      <!--=================================
         Chatbot --> 
      <!--=================================
         Cookies -->
      <!--=================================
         Cookies -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- Owl Carousel -->
      <script src="js/owl.carousel.min.js"></script>
      <!-- Wow -->
      <script src="js/wow.min.js"></script>
      <!-- App Min -->
      <script src="js/app.min.js"></script>
      <!-- Chatbot -->
      <script src="js/chatbot.js"></script>
      <!-- main -->
      <script src="js/main.js"></script>
      <!-- Custom -->
      <script src="js/custom.js"></script>
      <!-- Circle -->
      <script src="js/circle.js"></script>

      <script>
         (function(d,t) {
           var BASE_URL = "https://dashboard.limechat.ai";
           var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
           g.src= BASE_URL + "/packs/js/sdk.js";
           s.parentNode.insertBefore(g,s);
           g.onload=function(){
             window.chatwootSDK.run({
               websiteToken: 'wTq247eB5rb7h2qeNipigsBS',
               baseUrl: BASE_URL
             })
           }
         })(document,"script");
      </script>
   </body>
</html>

